/*====================================*\
	#CSS GLOBAL
\*====================================*/

body{
	font-family: $font-family;
}


/*------------------------------------*\
	#LINKS
\*------------------------------------*/

a{
	color: $primary;

	#{$p-event}{
		color: $primary-dark;
	}
}


/*------------------------------------*\
	#FORMS
\*------------------------------------*/

#{$all-text-inputs}{
	border-radius: $radius;
}


/*------------------------------------*\
	#CONTENT
\*------------------------------------*/