/*====================================*\
	#SETTINGS
\*====================================*/


/*------------------------------------*\
	#COLORS
\*------------------------------------*/

$white: #ffffff;
$black: #000;
$orange: #ff8507;

$primary: #be2025;
$primary-dark: darken($primary, 5%);
$secondary: $primary;


/*------------------------------------*\
	#FONT
\*------------------------------------*/

$font-family: '';
$font-size: 100%;
$line-height: 150%;
$font-color: #a0a0a0;
$font-color-invt: $white;
$font-color-dark: #505458;

$accent-color: #4ac1b0;


/*------------------------------------*\
	#RADIUS
\*------------------------------------*/

$radius: 3px;